
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.header {

    overflow: hidden;
    background-color: rgba(22, 84, 105, 0.35);
    padding: 20px 10px;
    height: 200px;
}

.header a {
    float: left;
    color: #0e0e0e;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 24px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-family: "Old English Text MT", serif;
    font-size: 48px;
    text-shadow: 1px 1px 2px black, 0 0 1em #c2c2c2;
    font-weight: bold;
}

.header a:hover {
    background-color: #737272;
    color: black;
}

.header a.active {
    background-color: #8cc2f8;
    color: #eaffcc;
}

h1 {
    font-size: 40px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    text-align: center;
    font-style: italic;

}

.header-right {
    float: right;
}


.dropbtn {
    min-width: 150px;
    color: #2a1181;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;

    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(47, 47, 47, 0.2);
    z-index: 5;
}

.dropdown-content a {
    text-align: left;
    width: 100%;
    color: rgba(0, 0, 0, 0.56);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #b0fff7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: dodgerblue;
    color: #ecc7c7;
}

section {
    min-height: 600px;
    background: #ffffff;
    margin-top: -150px;
    padding-bottom: 30px;

}

wrapper {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wrapper {
    padding-top: 5px;
}

.main_container {
    margin: auto;
    width: 1100px;
}
