{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
</head>
<body>
<div class="header">
    <a href="/news/" class="logo">Новости</a>
    {% if user.is_authenticated %}
        <div class="header-right">
            <div style="display: flex; ">
                <div>
                    {% if user.photo_set.all  %}
                        <img src="{{ user.photo_set.last.photo.url }}"
                             style="width: 50px; height: 50px; border-radius: 100%; margin-right: 20px" alt=""></div>
                    {% else %}
                        <img src="{% static "user_logo.png" %}"
                             style="width: 50px; height: 50px; border-radius: 100%; margin-right: 20px" alt=""></div>
                    {% endif %}
            <div class="dropdown">
                <button class="dropbtn ">{{ user.username }}</button>
                <div class="dropdown-content">
                    <a href="/news/profile/{{ user.id }}">Профиль</a>
                    <a href="/news/logout">Выход</a>
                    <a href="/news/password-change/">Смена пароля</a>
                </div>
            </div>
        </div>
        {% comment %}        <a class="active" href="#home">Home</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>{% endcomment %}
        </div>
    {% else %}
        <div class="header-right">

            <a href="/news/login">Войти</a>
            <a href="/news/register">Зарегестрироваться</a>
        </div>
    {% endif %}
</div>
<section class="main_section">
    <div class="main_container">
        {% block main %}
        {% endblock %}
    </div>
</section>
<footer style="height: 100px; background: #4f4f4f; ">

</footer>
</body>
</html>