{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEWS SITE</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="header">
    <a href="/news/" class="logo">Not Washington PostT</a>
    {% if user.is_authenticated %}
        <div class="header-right">
            <div style="display: flex; ">
                <div>
                    <div class="dropdown text-end">
                        <button class="d-block link-dark text-decoration-none dropdown-toggle"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                                {% if user.photo_set.all %}
                                    <img src="{{ user.photo_set.last.photo.url }}"
                                         width="50" height="50" class="rounded-circle" alt="">
                                {% else %}
                                    <img src="{% static "user_logo.png" %}"
                                         width="50" height="50" class="rounded-circle" alt="">
                                {% endif %}
                        </button>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="/news/profile/{{ user.id }}">Profile</a></li>
                            <li><a class="dropdown-item" href="/news/password-change/">Password change</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/news/logout">Log-Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="header-right">
            <a href="/news/login">Log-In</a>
            <a href="/news/register">Register</a>
        </div>
    {% endif %}
</div>
<section class="main_section">
    <div class="main_container">
        {% block main %}
        {% endblock %}
    </div>
</section>
<footer style="height: 100px; background: rgba(22,84,105,0.35); ">

</footer>
</body>
</html>