{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">


</head>
<body>
<div class="header">
    <a href="/news/" class="logo">NEWS</a>
    {% if user.is_authenticated %}
        <div class="header-right">
            <div style="display: flex; ">
                <div>
                    {% if user.photo_set.all %}
                        <img src="{{ user.photo_set.last.photo.url }}"
                             style="width: 50px; height: 50px; border-radius: 100%; margin-right: 20px" alt=""></div>
                    {% else %}
                        <img src="{% static "user_logo.png" %}"
                             style="width: 50px; height: 50px; border-radius: 100%; margin-right: 20px" alt=""></div>
                    {% endif %}
            <div class="dropdown">
                <button class="dropbtn ">{{ user.username }}</button>
                <div class="dropdown-content">
                    <a href="/news/profile/{{ user.id }}">Profile</a>
                    <a href="/news/logout">Log-out</a>
                    <a href="/news/password-change/">Password change</a>
                </div>

            </div>
        </div>
        </div>
    {% else %}
        <div class="header-right">

            <a href="/news/login">Log-in</a>
            <a href="/news/register">Register</a>
        </div>
    {% endif %}
<section class="main_section">
    <div class="main_container">
        {% block main %}
        {% endblock %}


    </div>

</section>
<footer style="height: 100px; background: #4f4f4f; ">

</footer>
</body>
</html>