{% extends 'base.html' %}
{% block main %}


    <wrapper>
        {% if latest_links %}
            {% for link in latest_links %}
                <a href="/news/{{ link.id }}/" style="color: black; text-decoration: none">
                    <div class="card">
                        <div class="img" style="background-image: url('..{{ link.link_img.url }}')"></div>
                        <div class="container">
                            <h4 style="text-align: center"><b>{{ link.link_text }}</b></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dignissimos doloremque
                                fugit id itaque magni quam quas quasi quos repellat. Ab alias dignissimos eius id
                                necessitatibus rerum sint unde vitae?</p>


                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p>There is no news here yet</p>
        {% endif %}
    </wrapper>


{% endblock %}